{% extends 'base.html' %}

{% block body %}
<div class="container">
	<h1>{{ _("Your user account has been blocked") }}</h1>
	<h4>{{ _("Summary of your block") }}</h4>
	<ul>
		<li>{{ _("Blocking sysop") }}: <span id="sysop"></span></li>
		<li>{{ _("Reason of block") }}: <span id="reason"></span></li>
		<li>{{ _("Block expiration") }}: <span id="expiry"></span></li>
	</ul>
	<script type="text/javascript">
		$.getJSON('https://tools.wmflabs.org/commons-mass-description/api-blocked', function (data) {
			$('#sysop').text(data['blockdata']['blockedby']);
			$('#reason').text(data['blockdata']['blockreason']);
			$('#expiry').text(data['blockdata']['blockexpiry']);
		});
	</script>
</div>
{% endblock %}
