{% extends 'base.html' %}

{% block body %}
<div class="container">
	<h1>{{ _("you-were-blocked") }}</h1>
	<h4>{{ _("block-summary") }}</h4>
	<ul>
		<li>{{ _("block-sysop") }}: <span id="sysop"></span></li>
		<li>{{ _("block-reason") }}: <span id="reason"></span></li>
		<li>{{ _("block-expiration") }}: <span id="expiry"></span></li>
	</ul>
	<script type="text/javascript">
		$.getJSON('api-blocked', function (data) {
			$('#sysop').text(data['blockdata']['blockedby']);
			$('#reason').text(data['blockdata']['blockreason']);
			$('#expiry').text(data['blockdata']['blockexpiry']);
		});
	</script>
</div>
{% endblock %}
