{% extends 'base.html' %}

{% block head %}
<!-- My JS -->
<script src="{{config.STATIC_URL}}all.js" charset="utf-8"></script>
{% endblock %}

{% block body %}
<nav class="light-blue lighten-1" role="navigation">
	<div class="nav-wrapper container">
		<a class="brand-logo" href="/commons-mass-description">CMD</a>
		<ul class="right hide-on-med-and-down">
			<li><a href="report">Report a problem</a></li>
			<li><a href="logout">Logout</a></li>
			<li id="username"></li>
		</ul>
	</div>
</nav>
<div class="container">
	<h1>Your user account has been blocked</h1>
	<h4>Summary of your block</h4>
	<ul>
		<li>Blocking sysop: <span id="sysop"></span></li>
		<li>Reason of block: <span id="reason"></span></li>
		<li>Block will expiry: <span id="expiry"></span></li>
	</ul>
	<script type="text/javascript">
		$.getJSON('https://tools.wmflabs.org/commons-mass-description/api-blocked', function (data) {
			$('#sysop').text(data['blockdata']['blockedby']);
			$('#reason').text(data['blockdata']['blockreason']);
			$('#expiry').text(data['blockdata']['blockexpiry']);
		});
	</script>
</div>
{% endblock %}
