<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CommonsMassDescription</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://tools-static.wmflabs.org/commons-mass-description/bootstrap.min.css">
</head>
<body>
  <app-root></app-root>
  <script src="https://tools-static.wmflabs.org/commons-mass-description/https://tools-static.wmflabs.org/commons-mass-description/jquery.js"></script>
  <script src="https://tools-static.wmflabs.org/commons-mass-description/https://tools-static.wmflabs.org/commons-mass-description/bootstrap.min.js"></script>
<script type="text/javascript" src="https://tools-static.wmflabs.org/commons-mass-description/inline.bundle.js"></script><script type="text/javascript" src="https://tools-static.wmflabs.org/commons-mass-description/polyfills.bundle.js"></script><script type="text/javascript" src="https://tools-static.wmflabs.org/commons-mass-description/styles.bundle.js"></script><script type="text/javascript" src="https://tools-static.wmflabs.org/commons-mass-description/vendor.bundle.js"></script><script type="text/javascript" src="https://tools-static.wmflabs.org/commons-mass-description/main.bundle.js"></script></body>
</html>
