{% extends 'base.html' %}

{% block body %}
<div class="container">
	<h1>{{ _("Please, <a href=\"login\">login</a>") }}</h1>
	<p>{{ _("<strong>Commons Mass Description</strong> is a tool that allows user to describe pictures and multimedia at <a href=\"https://commons.wikimedia.org\">Wikimedia Commons</a> en masse without having to edit each image manually. You can find more at <a href=\"https://commons.wikimedia.org/wiki/Commons:Commons_mass_description_tool\">its Wikimedia Commons page</a>.") }}</p>
	<p>{{ _("If you find any bugs in this tool, please feel free to <a href=\"https://phabricator.wikimedia.org/maniphest/task/edit/form/1/?project=commons_mass_description\">create a task at Wikimedia Phabricator</a>.") }}</p>
</div>
{% endblock %}
