{% extends 'base.html' %}

{% block head %}
<!-- My JS -->
<script src="{{STATIC_URL}}all.js" charset="utf-8"></script>
{% endblock %}

{% block body %}
<nav class="light-blue lighten-1" role="navigation">
	<div class="nav-wrapper container">
		<a class="brand-logo" href="/commons-mass-description">CMD</a>
		<ul class="right hide-on-med-and-down">
			<li><a href="report">Nahlásit problém</a></li>
			<li><a href="logout">Odhlásit se</a></li>
			<li id="username"></li>
		</ul>
	</div>
</nav>
<div class="container">
	<h3>Problém byl nahlášen</h3>
	<p>Můžete se vrátit k <a href="/commons-mass-description">nástroji</a>.</p>
</div>
{% endblock %}