{% extends 'base.html' %}

{% block head %}
<script src="{{config.STATIC_URL}}tool.js" charset="utf-8"></script>
{% endblock %}

{% block body %}
<div class="container">
	<form>
		<label for="langs">{{ _("choose-language") }}</label>
		<select class="browser-default" name="langs" id="langs">
		</select>
		<label for="display">{{ _("option-display-images") }}</label>
		<select class="browser-default" name="display" id="display">
			<option>1</option>
			<option>5</option>
			<option selected="">10</option>
			<option>50</option>
			<option>100</option>
		</select>
		<label for="nofilter-button">{{ _("do-not-filter") }}</label>
		<input id="nofilter-button" type="radio" name="filter" value="nofilter" checked>
		<label for="category-button">{{ _("filter-by-category") }}</label>
		<input id="category-button" type="radio" name="filter" value="category">
		<label for="user-button">{{ _("filter-by-uploader") }}</label>
		<input id="user-button" type="radio" name="filter" value="user">
		<br>
		<div class="filter-by-cat">
			<label for="category">{{ _("source-category") }}</label>
			<input type="text" name="category" id="category" value="Category:Media lacking a description" placeholder="{{ _("helptext-category") }}">
		</div>
		<div class="filter-by-user">
			<label for="user">{{ _("source-uploader") }}</label>
			<input type="text" name="user" id="user" value="Aktron" placeholder="{{ _("helptext-uploader") }}">
		</div>
		<button onclick="fillPics()" class="btn wafes-effect wafes-light" type="button" id="search">{{ _("load-pictures") }}</button>
	</form>
	<table>
		<thead>
			<th>{{ _("picture") }}</th>
			<th>{{ _("description") }}</th>
			<th>{{ _("categories") }}</th>
		</thead>
		<tbody>
		</tbody>
	</table>
	<button onclick="sendForm()" class="btn wafes-effect wafes-light" id="send" disabled="">{{ _("submit") }}</button>
</div>

<script>
	$('.filter-by-cat').hide();
	$('.filter-by-user').hide();

	$( "#nofilter-button" ).bind( "click", function() {
		$('.filter-by-cat').hide();
		$('.filter-by-user').hide();
	});

	$( "#category-button" ).bind( "click", function() {
		$('.filter-by-cat').show();
		$('.filter-by-user').hide();
	});

	$( "#user-button" ).bind( "click", function() {
		$('.filter-by-cat').hide();
		$('.filter-by-user').show();
	});
</script>
{% endblock %}
