.hidden {
display: none !important;
visibility: hidden !important;
}
.carousel-inner {
width: 1280px;
height: 720px;
}
.carousel-caption {
font-size: 45px;
}
.alert {
	margin-top:20px;
	width: 1280px;
}
