
<div *ngIf="login.username != null; else log" class="container-fluid">
  <table class="table">
    <thead>
      <th>img</th>
      <th>name</th>
      <th>description</th>
    </thead>
    <tbody>
      <tr *ngFor="let img of images.images">
        <td><a (click)="onSelect(img)"><img class="img-small" src="{{ img.url }}"></a></td>
        <td><a (click)="onSelect(img)">{{ img.title }}</a></td>
        <td><input class="form-control" type="text"></td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #log>
  <h1>Please log in</h1>
</ng-template>